body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover!important;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 17px;
  margin: 0 auto;
}
h2 {
  text-align: center;
}

@media (max-width: 943px) {
  body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: green;
    background-repeat: no-repeat;
    background-size: cover!important;
    background-position: center;
    background-attachment: fixed;
    color: white;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 17px;
    margin: 0 auto;
    font-size: 2em;
  }
}

.playerX {
  display: inline-block;
  position: absolute;
  left: 50%;
  text-align: center;
  margin-left: -387px;
  transform: translateX(-50%);
  margin-top: -120px;
}

.playerY {
  display: inline-block;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  margin-left: 382px;
  margin-top: -120px;
}

@media (max-width: 943px) {
  .playerX {
    transform: none;
    left: 7px;
    top: 40px;
    margin: 0;
    }
  .playerY {
    transform: none;
    left: auto;
    right: 7px;
    top: 40px;
    margin: 0;
    }
}


/* Where to keep scores for the players */
.scoreOne, .scoreTwo {
    height: 70px;
    width: 100px;
    background: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    display: inline-block;
    border-radius: 5%;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.gameboard {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 540px;
}

.wrappe {
  min-width: 100%;
}

.firstLine {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

/*.boxZero {
  border: 3px solid black;
}

.boxOne {
  border: 3px solid black;
}

.boxTwo {
  border: 3px solid black;
}*/

.box {
  border: 3px solid black;
}

.secondLine {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.boxThree {
  border: 3px solid black;
  display: inline-block;
}

.boxFour {
  border: 3px solid black;
  display: inline-block;
}

.boxFive {
  border: 3px solid black;
  display: inline-block;
}

.thirdLine {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.boxSix {
  border: 3px solid black;
  display: inline-block;
}

.boxSeven {
  border: 3px solid black;
  display: inline-block;
}

.boxEight {
  border: 3px solid black;
  display: inline-block;
}

/* Set the class of box in HTML; then set the x & y in JS --> Style them in CSS */
/* x = Team Captain */
/* y = Team IronMan */
.box.x {
  background-image: url('../img/c.jpg');
  background-size : 100%;
}

.box.y {
  background-image: url('../img/i.jpg');
  background-size : 100%;
}

.button {
  height: 50px;
  width: 100px;
  background-color: red;
  color: white;
  text-align: center;
  /*vertical-align: middle;*/
  border-radius: 13px;
  font-size: 20px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 710px;
  line-height: 50px;
  padding: 10px;
}

.name {
  position: absolute;
  bottom: 0;
  left: 10px;
}


/*/////////////////////////////////////////*/

/*TESTING ONLY*/
/*x & y turn to colours*/
/*.x {
  background-color: blue;
}

.y {
  background-color: green;
}*/


/*/////////////////////////////////////////*/
