
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/background.jpg');
  background-size: 100%;
  color: white;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 17px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.playerX {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-right: 80%;
  text-align: center;
}

.playerY {
  display: inline-block;
  position: absolute;
  left: 0px;
  margin-left: 80%;
  text-align: center;
}

/*where to keep scores for the players*/
.scoreOne, .scoreTwo {
    height: 70px;
    width: 100px;
    background: #000000;
    color: white;
    border: 2px solid #FFFFFF;
    display: inline-block;
    border-radius: 5%;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.gameboard {
  margin: auto;
  margin-left: 31%;
  /*border: 2px solid green;*/
  /*border - testing*/
}

.firstLine {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.boxZero {
  border: 3px solid black;
}

.boxOne {
  border: 3px solid black;
}

.boxTwo {
  border: 3px solid black;
}

.secondLine {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.boxThree {
  border: 3px solid black;
  display: inline-block;
}

.boxFour {
  border: 3px solid black;
  display: inline-block;
}

.boxFive {
  border: 3px solid black;
  display: inline-block;
}

.thirdLine {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.boxSix {
  border: 3px solid black;
  display: inline-block;
}

.boxSeven {
  border: 3px solid black;
  display: inline-block;
}

.boxEight {
  border: 3px solid black;
  display: inline-block;
}

/* Set the class of box in HTML; then set the x & y in JS --> Style them in CSS */
/* x = Team Captain */
/* y = Team IronMan */
.box.x {
  background-image: url('../img/c.jpg');
  background-size : 100%;
}

.box.y {
  background-image: url('../img/i.jpg');
  background-size : 100%;
}


.button {
  height: 50px;
  width: 100px;
  background-color: red;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 13px;
  font-size: 20px;
  margin-top: 2%;
  padding-top: 2%;
  margin: 0 auto;
}


/*/////////////////////////////////////////*/
/*TESTING ONLY*/
/*x & y turn to colours*/
/*.x {
  background-color: blue;
}

.y {
  background-color: green;
}*/






/*/////////////////////////////////////////*/
